{% extends 'base.html' %}
{% block content %}
<body>
    <div class="content">
        <div class="header">
            <h2>{{ title }}</h2>
        </div>
        <div style="text-align: right;">
            <a href="{% url 'main:write' %}">글쓰기</a>
        </div>
        {% if user.is_authenticated %}
        <div style="text-align: right;">
            <button type="button" class="btn btn-primary" onclick="location.href='{% url 'main:logout' %}'">로그아웃</button>
        </div>
        {% endif %}
        <div style="height: 280px;">
            <table style="text-align: center; width: 700px; border: 1px solid black;">
                <thead>
                    <tr class="header">
                        <th style="width: 10%;">번호</th>
                        <th style="width: 40%;">제목</th>
                        <th style="width: 10%;">작성자</th>
                        <th style="width: 20%;">작성일자</th>
                        <th style="width: 10%;">조회수</th>
                    </tr>
                </thead>
                
                <tbody>
                {% if page_obj %}
                    {% for board_list in page_obj %}
                    <tr class="{% cycle '' 'even_bgcolor' %}">
                        <td style="text-align: center;">{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'main:detail' board_list.id %}">
                                {{ board_list.title }}
                            </a>
                        </td>
                        <td>{{ board_list.user }}</td>
                        <td>{{ board_list.pub_date|date:'Y-m-d' }}</td>
                        <td>{{ board_list.hits }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td></td>
                        <td>작성된 게시글이 없습니다.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        </div>  -->
        <div id="paging">
            <ul class="pagination justify-content-center" style="margin-top: 2rem;">
                <!-- 이전페이지 -->
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="./?&page=1">맨 앞으로</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="./?&page={{ page_obj.previous_page_number }}">이전</a>
                    <!-- href로 뎁스 설정 -->
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
                {% endif %}
                <!-- 페이지리스트 -->
               
                {% for page_number in page_obj.paginator.page_range %}
                    {% if page_number >= page_obj.number|add:-2 and page_number <= page_obj.number|add:2 %}
                    <span class="{% if page_number == page_obj.number %}current{% endif %}">
                        {% if page_number == page_obj.number %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="./?&page={{ page_number }}">{{ page_number }}</a>
                            </li>
                        {% else %}
                            <a class="page-link" href="./?&page={{ page_number }}">{{ page_number }}</a>
                        {% endif %}
                    </span>
                    
                    {% elif page_number >= page_obj.number|add:-3 and page_number <= page_obj.number|add:3 %}
                        ..
                
                    {% endif %}
                {% endfor %}
                
                <!-- 다음페이지 -->
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="./?&page={{ page_obj.next_page_number }}">다음</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="./?&page={{ page_obj.paginator.num_pages }}">맨 뒤로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- 페이징처리 끝 -->
    </div>
</body>
{% endblock %}

