{% extends 'base.html' %}
{% block content %}

<style>
    *{
        box-sizing:border-box;
        }
    .change-area{
        width:100vw;
        height: 100vh;
        padding: 20px 0 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: baseline
    }

    .change-card{
        width:500px;
        background-color:white;
        border-radius:4px;
        border-width:1px;
        box-shadow: 5px 5px 3px rgba(0,0,0, .2),0 0 3px rgba(0,0,0, .2);
        padding:8px;
        display: flex;
        flex-direction: column;
        border-radius: 1rem; 
        align-items:center;
    }
    .change-card input{
        width:100%;
        border-top:none;
        border-left:none;
        border-right:none;
        border-bottom:1px solid #919494;
        font-size: 16px;
        border-radius: 0;
        margin: 20px;
        
    }
    h2{
        margin-top: 8px;
        text-align: right;
    }
</style>
<section class="change-area">
    <div class="change-card">
        <form action="" method="post" style="text-align: center;" name="change-password">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <table>
                <tr>
                    <td>
                        <h2>비밀번호</h2>
                    </td>
                    <td>
                        <input type="password" name="old_password" id="password1" class="form-control" 
                        placeholder="비밀번호" value="{{ form.old_password.value|default_if_none:'' }}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>새 비밀번호</h2>
                    </td>
                    <td>
                        <input type="password" name="new_password1" id="password1" class="form-control" 
                placeholder="새 비밀번호" value="{{ form.new_password1.value|default_if_none:'' }}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>새 비밀번호 확인</h2>
                    </td>
                    <td>
                        <input type="password" name="new_password2" id="password1" class="form-control" 
                placeholder="새 비밀번호 확인" value="{{ form.new_password2.value|default_if_none:'' }}"/>
                    </td>
                </tr>
            </table>
            <!-- <button type="submit" class="btn btn-lg btn-block" style="background-color: #708ae8; color:white; width:100%; margin:20px 0;" onclick="alert('수정되었습니다.');">수정완료</button> -->
            <button type="submit" class="btn btn-lg btn-block" style="background-color: #708ae8; color:white; width:100%; margin:20px 0;" onclick="btn();">수정완료</button>
        </form>
        <script>
            function btn(){
                if(document.change-password.old_password==true && document.change-password.new_password1==true && document.change-password.new_password2==true){
                    alert('수정되었습니다.');
                }
            }
        </script>
    </div>
</section>

{% endblock %}
