{% extends 'base.html' %}
{% block content %}
<form action="" method="post" style="text-align: center;">
    {% csrf_token %}
    {% include "form_errors.html" %}
    <div class="form-outline mb-4">
      <tr>
          <td class="td_title" style="text-align:center; width:20%;">password</td>
          <td style="padding:10px;">
              {{ form.old_password }}
          </td>
      </tr>
    </div>
    <div class="form-outline mb-4">
      <tr>
          <td class="td_title" style="text-align:center; width:20%;">new password</td>
          <td style="padding:10px;">
              {{ form.new_password1 }}
          </td>
      </tr>
    </div>
    <div class="form-outline mb-4">
      <tr>
          <td class="td_title" style="text-align:center; width:20%;">confirm password</td>
          <td style="padding:10px;">
              {{ form.new_password2 }}
          </td>
      </tr>
    </div>  
    <button type="submit" onclick="alert('수정되었습니다.');">Save changes</button>
</form>
{% endblock %}
