<!DOCTYPE html>
<html lang="en">
	<div style="display:none">{{ board.update_counter}}</div>
<body>
    <div class="content">

		<table class="board_for_read">
			<tbody>
				<tr>
					<td class="td_title" style="text-align:center; width:20%;">제목</td>
					<td style="padding:10px;">
						<input type="text" name="title" id="title" value="{{ board.title }}" readonly/>
					</td>
				</tr>
                <tr>
					<td class="td_title" style="text-align:center; width:20%;">작성자</td>
					<td style="padding:10px;">
						<span>{{ board.user }}</span>
					</td>
				</tr>
				<tr>
					<td class="td_title" style="text-align:center; width:20%;">작성일자</td>
					<td style="padding:10px;">
						<span>{{ board.pub_date }}</span>
					</td>
				</tr>
                <tr>
					<td class="td_title" style="text-align:center; width:20%;">조회수</td>
					<td style="padding:10px;">
						<span>{{ board.hits }}</span>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
					{% if board.upload_files %}
						<a href="{% url 'main:download' pk %}">{{ board.upload_files.name }}</a>
						{% endif %}
					</td>
				</tr>

				<tr>
					
					<td class="td_title" style="text-align:center;">내용</td>
					<td style="padding:10px;">
						<textarea name="detail" id="detail" rows="10" readonly>{{ board.content }}</textarea>
					</td>
				</tr>
			</tbody>
		</table>
		<div style="text-align:left;">
			<a href="{% url 'main:board' %}">Home</a>
			{% if board.user == user %}
				<a href="{% url 'main:update' board.id %}">수정</a>
				<a href="{% url 'main:delete' board.id %}">삭제</a>
			{% endif %}
		</div>
		<br>
		<div class="reply_content">
			<div>
				{% if user.is_authenticated %}
					<a href="{% url 'main:create_reply' board.id %}" class="btn btn-primary">댓글쓰기</a>
				{% endif %}
			</div>
			{% for rep in board.reply_set.all %}
				<span class="reply">{{ rep.user }} {{ rep.comment }} [{{ rep.rep_date|date:'Y-m-d H:i'}}]</span>
				{% if rep.user == user %}
					<a href="{% url 'main:update_reply' board.id rep.id %}">수정</a>
					<a href="{% url 'main:delete_reply' rep.id %}">삭제</a>
				{% endif %}
				<br>
			{% endfor %}
		</div>
    </div>
</body>
</html>