{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="/static/css/sidemenu.css"/>
<style>
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }
      
      .content {
        font-family: system-ui, serif;
        font-size: 2rem;
        padding: 3rem;
        border-radius: 1rem;
        width: 100vh;
      }

      button{
          width:20%;
      }


</style>



<div class="wrapper" style="text-align: center;">
    <div class="content" style="text-align: center;">
        <img class="image" src="/static/image/찐로고.png" width="288px;">
        <p style="color:gray; padding-top:20px; font-size:20px">당신의 모델 학습 데이터를 보조하겠습니다.</p>
        <div style="margin-top:30px">
            {% if user.is_authenticated %}
                <div>
                    <button style="background-color: #708ae8; border:none;" class="btn btn-primary" onclick="location.href='{% url 'main:board' %}'">게시판</button>
                </div>
                <div>
                    <button style="background-color: #708ae8; border:none;" class="btn btn-primary" onclick="location.href='{% url 'main:mypage' %}'">마이페이지</button>
                </div>
                <div>
                    <button style="background-color: #708ae8; border:none;" class="btn btn-primary" onclick="location.href='{% url 'main:logout' %}'">로그아웃</button>
                </div>
            {% else %}
                <div>
                    <button style="background-color: #708ae8; border:none;" class="btn btn-primary" onclick="location.href='{% url 'main:board' %}'">게시판</button>
                </div>
                <div>
                    <button style="background-color: #708ae8; border:none;" class="btn btn-primary" onclick="location.href='{% url 'main:login' %}'">로그인</button>
                </div>
                <div>
                    <button style="background-color: #708ae8; border:none;" class="btn btn-primary" onclick="location.href='{% url 'main:signup' %}'">회원가입</button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="/static/js/sidemenu.js"></script>

{% endblock %}
