{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                               m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      //__ENABLED_BY_PACK_SCRIPT__ga('create', 'UA-20555581-2', 'auto');
      //__ENABLED_BY_PACK_SCRIPT__ga('set', 'page', 'via-2.0.0.html');
      //__ENABLED_BY_PACK_SCRIPT__ga('send', 'pageview');
    </script>

    <link rel="stylesheet" type="text/css" href="/static/css/via.css">
  </head>

  <body onload="_via_init()" onresize="_via_update_ui_components()">

    <!-- used by invoke_with_user_inputs() to gather user inputs -->
    <div id="user_input_panel"></div>

    <!-- to show status messages -->
    <div id="message_panel">
      <div id="message_panel_content" class="content"></div>
    </div>

    <!-- spreadsheet like editor for annotations -->
    

    <div class="top_panel" id="ui_top_panel">
      <!-- menu bar -->
      <div class="menubar">
        <ul>
          
          <li>Project
            <ul>
              <li onclick="project_open_select_project_file()" title="Load a VIA project (from a JSON file)">Load</li>
              <li onclick="project_save_with_confirm()" title="Save this VIA project (as a JSON file)">Save</li>
              <li class="submenu_divider"></li>
              <li onclick="sel_local_images()" title="Add images locally stored in this computer">Add local files</li>
              <li onclick="project_file_add_url_with_input()" title="Add images from a web URL (e.g. http://www.robots.ox.ac.uk/~vgg/software/via/images/swan.jpg)">Add files from URL</li>
              <li onclick="project_file_add_abs_path_with_input()" title="Add images using absolute path of file (e.g. /home/abhishek/image1.jpg)">Add file using absolute path</li>
              <li onclick="sel_local_data_file('files_url')" title="Add images from a list of web url or absolute path stored in a text file (one url or path per line)">Add url or path from text file</li>
              <li onclick="project_file_remove_with_confirm()" title="Remove selected file (i.e. file currently being shown)">Remove file</li>
              <li class="submenu_divider"></li>
              <li onclick="sel_local_data_file('attributes')" title="Import region and file attributes from a JSON file">Import region/file attributes</li>
              <li onclick="project_save_attributes()" title="Export region and file attributes to a JSON file">Export region/file attributes</li>
            </ul>
          </li>

          <!-- annotation 기능인데 annotation tool을 빼버림..-->
          <li>Annotation
            <ul>
              <li onclick="download_all_region_data('csv')" title="Export annotations to a CSV file">Export Annotations (as csv)</li>
              <li onclick="download_all_region_data('json')" title="Export annotaitons to a JSON file">Export Annotations (as json)</li>
              <li onclick="download_all_region_data('coco', 'json')" title="Export annotaitons to COCO (http://cocodataset.org) format">Export Annotations (COCO format)</li>
              <li onclick="" class="submenu_divider"></li>
              <li onclick="sel_local_data_file('annotations')" title="Import annotations from a CSV file">Import Annotations (from csv)</li>
              <li onclick="sel_local_data_file('annotations')" title="Import annotations from a JSON file">Import Annotations (from json)</li>
              <li onclick="sel_local_data_file('annotations_coco')" title="Import annotations from a COCO (http://cocodataset.org) formatted JSON file">Import Annotations (COCO format)</li>

              <li class="submenu_divider"></li>
              <li onclick="show_annotation_data()" title="Show a preview of annotations (opens in a new browser windows)">Preview Annotations</li>
              <li onclick="download_as_image()" title="Download an image containing the annotations">Download as Image</li>
            </ul>
          </li>

          
        </ul>
      </div>

      <!-- 이미지 파일이 담기는 리스트 files[]-->
      <input type="file" id="invisible_file_input" name="files[]" style="display:none"> 
    </div> <!-- endof #top_panel -->

    <!-- Middle Panel contains a left-sidebar and image display areas -->
    <div class="middle_panel">
      <!-- this panel contains a button to shows the left side bar -->
      <div id="leftsidebar_collapse_panel">
        <span class="text_button" onclick="leftsidebar_toggle()" title="Show left sidebar">&rtrif;</span>
      </div>

      <div id="leftsidebar">
        <div class="leftsidebar_accordion_panel show" style="float:right; border:2px solid #f2f2f2;">
          <!-- 사이드바 크기 조절하는 창 -->
          <span class="text_button" onclick="leftsidebar_decrease_width()" title="Reduce width of this toolbar panel">&larr;</span>
          <span class="text_button" onclick="leftsidebar_increase_width()" title="Increase width of this toolbar panel">&rarr;</span>
          <span class="text_button" onclick="leftsidebar_toggle()" title="Show/hide this toolbar panel">&ltrif;</span>
        </div>

        <!-- Project 프로젝트 바-->
        <button class="leftsidebar_accordion active" id="project_panel_title">Project</button>
        <div class="leftsidebar_accordion_panel show" id="img_fn_list_panel">
          <div id="project_info_panel">
            
            <div class="row">
              <span class="col"><input type="text" value="" onchange="project_on_name_update(this)" id="project_name" title="VIA project name"></span>
            </div>
          </div>

          <!-- 여기가 왼쪽 이미지 리스트 선택 가능한 기능-->
          <div id="project_tools_panel">
            <div class="button_panel" style="margin:0.1rem 0;" >
              <select style="width:48%" id="filelist_preset_filters_list" onchange="img_fn_list_onpresetfilter_select()" title="Filter file list using predefined filters">
                <option value="all">All files</option>
                <option value="files_without_region">Show files without regions</option>
                <option value="files_missing_region_annotations">Show files missing region annotations</option>
                <option value="files_missing_file_annotations">Show files missing file annotations</option>
                <option value="files_error_loading">Files that could not be loaded</option>
                <option value="regex">Regular Expression</option>
              </select>
              <input style="width:50%" type="text" placeholder="regular expression" oninput="img_fn_list_onregex()" id="img_fn_list_regex" title="Filter using regular expression">
            </div>
          </div>

          <div id="img_fn_list"></div>
        
            <div class="button_panel">
              <!-- 이부분이 txt로 받아서 이미지 리스트로 띄워주기-->
              <span class="button" onclick="sel_local_data_file('files_url')" title="Add new file from local disk">Add Files</span> 
            </div>
          
        </div>
      </div> <!-- end of leftsidebar -->

      <!-- Main display area: contains image canvas, ... -->
      <div id="display_area">
        <div id="image_panel" class="display_area_content display_none">
          <!-- buffer images using <img> element will be added here -->

          <!-- @todo: in future versions, this canvas will be replaced by a <svg> element -->
            <canvas id="region_canvas" width="1" height="1" tabindex="1">Sorry, your browser does not support HTML5 Canvas functionality which is required for this application.</canvas>
            <!-- here, a child div with id="annotation_editor" is added by javascript -->
        </div>

        <div id="image_grid_panel" class="display_area_content display_none">
          <div id="image_grid_toolbar">
            <span>
              <select id="image_grid_show_image_policy" onchange="image_grid_onchange_show_image_policy(this)">
          
              </select>
            </span>
          </div>

          <div id="image_grid_content">
            <div id="image_grid_content_img"></div>
            <svg xmlns:xlink="http://www.w3.org/2000/svg" id="image_grid_content_rshape"></svg>
          </div>

        </div> <!-- end of image grid panel -->

        <!-- 측면 리스트 바-->
        <div id="page_start_info" class="display_area_content display_none narrow_page_content">

        </div>

      </div> <!-- end of display_area -->
    </div> <!-- end of middle_panel -->

    <!-- this vertical spacer is needed to allow scrollbar to show
         items like Keyboard Shortcut hidden under the attributes panel -->
    <div style="width: 100%;" id="vertical_space"></div>

    <!-- 동영상에서 이미지 나누기-->
    <ol id="olFrames"></ol>
  
  <script type="text/JavaScript">
  function getVideoImage(path, secs, callback) {
    var me = this, video = document.createElement('video');
    video.onloadedmetadata = function() {
      if ('function' === typeof secs) {
        secs = secs(this.duration);
      }
      this.currentTime = Math.min(Math.max(0, (secs < 0 ? this.duration : 0) + secs), this.duration);
    };
    video.onseeked = function(e) {
      var canvas = document.createElement('canvas');
      canvas.height = video.videoHeight;
      canvas.width = video.videoWidth;
      var ctx = canvas.getContext('2d');
      ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
      var img = new Image();
      img.src = canvas.toDataURL();
      callback.call(me, img, this.currentTime, e);
    };
    video.onerror = function(e) {
      callback.call(me, undefined, undefined, e);
    };
    video.src = path;
  }
  
  function showImageAt(secs) {
    var duration;
    getVideoImage(
      '/media/robot.mp4',
      function(totalTime) {
        duration = totalTime;
        return secs;
      },
      function(img, secs, event) {
        if (event.type == 'seeked') {
          var li = document.createElement('li');
          li.innerHTML += '<b>Frame at second ' + secs + ':</b><br />';
          li.appendChild(img);
          document.getElementById('olFrames').appendChild(li);
          if (duration >= ++secs) {
            showImageAt(secs);
            //files.push(img.src)
            //invisible_file_input.push(img.src)
          };
        }
      }
    );
  }
  showImageAt(0);
  </script>


    <!-- DEMO SCRIPT AUTOMATICALLY INSERTED BY VIA PACKER SCRIPT -->
    <script src="/static/js/via.js"></script>
  </body>
</html>