{% extends 'base.html' %}
{% load static %}



{% block content %}
<style>
    .wrapper {
        display: grid;
        place-items: center;
        min-height: 100vh;

      }
      
      .content {

        padding: 3rem;
        border-radius: 1rem;
      }
</style>
        
<div class="wrapper" style="text-align: center;" >
  <div class="content">
    <img src="/static/image/찐로고.png"width="40%" class="center-block" onclick="location.href='{% url 'main:home' %}'">
  </div>
</div>
{% endblock %}








