{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% comment %} {% block content %}
<div class="container my-3">
    <div style="text-align: center;">
        <h1>로그인</h1>
        <form method="POST" class="post-form" action="{% url 'main:login' %}">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="form-group">
                <label for="username">아이디:</label>
                <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="password">비밀번호:</label>
                <input type="password" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}">
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
        <a href="{% provider_login_url 'kakao' %}">카카오 로그인</a><br>
        <a href="{% provider_login_url 'google' %}">구글 로그인</a><br>
    </div>
</div>
{% endblock %} {% endcomment %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
<link rel="stylesheet" type="text/js" href="{% static 'js/login.js'%}">

    <div class="container">
      <div class="img">
        <img class="wave" src="/static/image/찐로고.png" width="30%">
        <img src="/static/image/robot.png">
      </div>
        
      <div class="login-content">
        <form action="{% url 'main:login' %}" method='POST'>
          {% csrf_token %}
            {% include "form_errors.html" %}
          <h2 class="title" style="text-align=left">Login</h2>
          이미지 레이블링 보조 작업자
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <h5>Username</h5>
              <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
            </div>
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <h5>Password</h5>
              <input type="password" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}">
            </div>
          </div>
          <a href="#">Forgot Password?</a>
          <input type="submit" class="btn" style="background-color: #708ae8;" value="Login">
        </form>
      </div>
    </div>
  {% endblock %}


