{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% comment %} {% block content %}
<div class="container my-3">
    <div style="text-align: center;">
        <h1>로그인</h1>
        <form method="POST" class="post-form" action="{% url 'main:login' %}">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="form-group">
                <label for="username">아이디:</label>
                <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="password">비밀번호:</label>
                <input type="password" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}">
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
        <a href="{% provider_login_url 'kakao' %}">카카오 로그인</a><br>
        <a href="{% provider_login_url 'google' %}">구글 로그인</a><br>
    </div>
</div>
{% endblock %} {% endcomment %}

{% block content %}

<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block ">
                <img src="/static/image/찐로고.png" width=50% style="margin-top:30px; margin-bottom=50px">
                <img src="/static/image/robot.png"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; margin-top:100px; align-items:center;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form action="{% url 'main:login' %}" method='POST'>
                    {% csrf_token %}
                    {% include "form_errors.html" %}
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Login</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">이미지 레이블링 보조 작업자</h5>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example17">Email address</label>
                      <input type="text" id="form2Example17" name="username" class="form-control form-control-lg" 
                      value="{{ form.username.value|default_if_none:'' }}" placeholder="Please enter your Email"/>
                    </div>
   
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example27">Password</label>
                      <input type="password" id="form2Example27" name="password" class="form-control form-control-lg" 
                      value="{{ form.password.value|default_if_none:'' }}" placeholder="Please enter your Password"/>
                    </div>
                    <a class="small text-muted" href="{% url 'password_reset' %}">Forgot password?</a>
                    <div class="pt-1 mb-4 d-grid gap-2">
                      <button class="btn btn-lg btn-block" type="submit" style="background-color: #708ae8; color:white; width:230px; height=50px;" 
                      vlaue='Login'>Login</button>
                      <a href="{% url 'main:kakao_login' %}"><img src="/static/image/kakao_login.png" style="width:auto; height:50px;"></a>
                      <a href="{% provider_login_url 'google' %}"><img src="/static/image/google_login.png" style="width:394px; height:52px;"></a>
                      
                    </div>
                    
  
                    <div style="text-align:center">
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'main:signup1' %}"
                        style="color: #393f81;">signup</a></p>
                    </div>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
<link rel="stylesheet" type="text/js" href="{% static 'js/login.js'%}">

    <div class="container">
      <div class="img">
        <img class="wave" src="/static/image/찐로고.png" width="30%">
        <img src="/static/image/robot.png">
      </div>
        
      <div class="login-content">
        <form action="{% url 'main:login' %}" method='POST'>
          {% csrf_token %}
            {% include "form_errors.html" %}
          <h2 class="title" style="text-align=left">Login</h2>
          이미지 레이블링 보조 작업자
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <h5>Username</h5>
              <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
            </div>
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <h5>Password</h5>
              <input type="password" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}">
            </div>
          </div>
          <a href="#">Forgot Password?</a>
          <input type="submit" class="btn" style="background-color: #708ae8;" value="Login">
        </form>

      </div>
    </div>
  </section> {% endcomment %}



  {% endblock %}


