{% extends 'base.html' %}
{% block content %}

<style>
    .board-area{
        width: 100%;
        height:calc(100vh - 85px);
        display: flex;
        justify-content:center;
    }
    
    .container{
        background-color:white;
        width: 500px;
        height: 75vh;
        max-height:1000px;
        border-radius:8px;
        border-width:3px;
        box-shadow: 5px 5px 3px rgba(0,0,0, .2),0 0 3px rgba(0,0,0, .2);
        padding: 32px;
        position:relative;
        display:flex;
        flex-direction:column;
    }

    .container>div:first-child{
        display: block;
        margin-bottom: 20px;
    }

    .container h2 {
        text-align: left;
        font-size: 24px;
        font-weight: bold;
    }

    .board{
        width:100%;
        height:100%;
        align-items:center;
        text-align:center;
        padding:10px;
    }

    .board>li{
        display: flex;
        height: 36px;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .board>li>p{
        display: block;
        width: 120px;
        font-size: 18px;
        text-align: right;
        margin-right: 10px;
    }

    .board>li>input{
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom:  1px solid #707070;
        margin-left: 12px;
        padding-left: 4px;
        font-size: 18px;
        width: 80%;
    }
    .board>li>input:focus{
        outline: none;
    }

</style>


<div class="board-area">
    <div class="container">
        <div>
            <h2 style="cursor:default;">마이페이지</h2>
        </div>

        

        <div>
            <ul class="board">
                <li>
                    <p>이름</p>
                    <input type="text" name="name" id="name" value="{{ user.name }}" readonly/>
                </li>

                <li>
                    <p>전화번호</p>
                    <input type="tel" id="phone" value="{{ user.phone }}" readonly/>
                </li>

                <li>
                    <p>이메일</p>
                    <input type="email" id="email" value="{{ user.email }}" readonly/>
                </li>

                <li>
                    <p>ID</p>
                    <input type="text" id="id" value="{{ user.username }}" readonly/>
                </li>

                <li>
                    <p>비밀번호</p>
                    <button style="background-color: #708ae8; border:none;" class="btn btn-primary trigger" onclick="location.href='{% url 'main:change_password' %}'">변경하기</button>
                </li>

                <li>
                    <button style="background-color: #708ae8; border:none;" class="btn btn-primary" onclick="location.href='{% url 'main:update_user' %}'">개인정보수정</button>
                </li>

                
                <li>
                    <button class="btn btn-lg btn-block" type="button" style="background-color: #708ae8; color:white; width:100%" onclick="location.href='{% url 'main:logout' %}'">로그아웃</button>
                </li>

                <li>
                    <button class="btn btn-lg btn-block" type="button" style="background-color: #86878b; color:white; width:100%" onclick="location.href='{% url 'main:delete_user' %}';Javascript:btn();">회원탈퇴</button>
                </li>

                <!-- <li>
                    <button style="background-color: #708ae8; border:none;" class="btn btn-primary" onclick="location.href='{% url 'main:home' %}'">home</button>
                </li> -->
            </ul>

            
        </div>
    </div>

    <script>
        function btn(){
            if (confirm("정말 탈퇴하시겠습니까?")==true){
                alert("회원 탈퇴가 완료되었습니다.");
            }else{
                return;
            }

        }
    </script>
</div>


{% endblock %}