{% extends 'base.html' %}
{% block content %}
<style>
    .container{
        background-color:white;
        margin-top:50px;
        
        border-radius:16px;
        border-width:3px;
        box-shadow:5px 5px 5px 5px gray;
    }

    .board{
        width:100%;
        height:100%;
        align-items:center;
        text-align:center;
        padding:10px;
    }

    table{
        margin-top:5%;
        margin-bottom:5%;
        text-align:center;
        margin:auto auto;
        width:100%;
    }

    td input{
        width:80%;
        height:40px;
        border-radius:5px;
    }

    .td_title{
        width:20%;
    }

    .blur-it {
        filter: blur(4px);
    }

    a.btn {
        width: 200px;
        padding: 18px 0;
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        border-radius: 0;
        background: #e2525c;
    }

    .modal-wrapper {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0; 
        left: 0;
        background: rgba(41, 171, 164, 0.8);
        visibility: hidden;
        opacity: 0;
        transition: all 0.25s ease-in-out;
    }

    .modal-wrapper.open {
        opacity: 1;
        visibility: visible;
    }

    .modal {
        width: 600px;
        height: 400px;
        display: block;
        margin: 50% 0 0 -300px;
        position: relative;
        top: 50%; 
        left: 50%;
        background: #fff;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .modal-wrapper.open .modal {
        margin-top: -200px;
        opacity: 1;
    }

    .head { 
        width: 90%;
        height: 32px;
        padding: 12px 30px;
        overflow: hidden;
        background: #e2525c;
    }

    .btn-close {
        font-size: 28px;
        display: block;
        float: right;
        color: #fff;
    }

    .content {
        padding: 10%;
    }
</style>

<div class="container">
    <div class="board">
        <h2 style="text-align:left; padding:20px;">마이페이지</h2>
        <hr>
        <table>
            <tr class="form-outline mb-4" style="padding:10px;">
                <td class="td_title" style="text-align:center; width:20%;">이름</td>
                <td style="border-style:solid; padding:10px;">
                    <input type="text" name="name" id="name" value="{{ user.name }}" style="border-style:solid; max-width:450px; width:80%" readonly/>
                </td>
            </tr>
            <tr class="form-outline mb-4">
                <td class="td_title" style="text-align:center; width:20%; ">전화번호</td>
                <td style="padding:10px;">
                    <input type="tel" id="phone" value="{{ user.phone }}" style="border-style:solid; max-width:450px; width:80%;" readonly/>
                </td>
            </tr>
            <tr class="form-outline mb-4">
                <td class="td_title" style="text-align:center; width:20%;">이메일</td>
                <td style="padding:10px;">
                    <input type="email" id="email" value="{{ user.email }}" style="border-style:solid; max-width:450px; width:80%;" readonly/>
                </td>
            </tr>
            <tr class="form-outline mb-4">
                <td class="td_title" style="text-align:center; width:20%;">ID</td>
                <td style="padding:10px;">
                    <input type="text" id="id" value="{{ user.username }}" style="border-style:solid; max-width:450px; width:80%;" readonly/>
                </td>
            </tr>
            <tr class="form-outline mb-4">
                <td class="td_title" style="text-align:center; width:20%;">비밀번호</td>
                <td>
                    <button style="background-color: #708ae8; border:none;" class="btn btn-primary trigger" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@" onclick="location.href='{% url 'main:change_password' %}'">변경하기</button>
                </td>
            </tr>
        </table>
        <hr>
        <br>
        <div class="pt-1 mb-4 gap-2">
            <button style="background-color: #708ae8; border:none;" class="btn btn-primary" onclick="location.href='{% url 'main:home' %}'">home</button>
            <button style="background-color: #708ae8; border:none;" class="btn btn-primary" onclick="location.href='{% url 'main:update_user' %}'">개인정보수정</button>
        </div>
        <div class="pt-1 mb-4 d-grid gap-2">
            <button class="btn btn-lg btn-block" type="button" style="background-color: #708ae8; color:white; width:100%" onclick="location.href='{% url 'main:logout' %}'">로그아웃</button>
        </div>
        <div class="pt-1 mb-4 d-grid gap-2">
            <button class="btn btn-lg btn-block" type="button" style="background-color: #86878b; color:white; width:100%" onclick="location.href='{% url 'main:delete_user' %}';Javascript:btn();">회원탈퇴</button>
        </div>
        <div class="modal-wrapper">
            <div class="modal">
                <div class="head">
                    <a class="btn-close trigger" href="#">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="modal-content">test</div>
            </div>
        </div>
        <script>
            $( document ).ready(function() {
                $('.trigger').on('click', function() {
                    $('.modal-wrapper').toggleClass('open');
                    $('.page-wrapper').toggleClass('blur-it');
                    return false;
                });
            });
        </script>
        <script>
            function btn(){
                if (confirm("정말 탈퇴하시겠습니까?")==true){
                    alert("회원 탈퇴가 완료되었습니다.");
                }else{
                    return;
                }
            }
        </script>
    </div>
</div>
{% endblock %}