{% extends 'base.html' %}

{% block content %}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem; align-items:center;">
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
                            <form>
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <i class="fas fa-cubes fa-2x " style="color: #ff6219;"></i>
                                    <span class="h1 fw-bold mb-0">Sign up</span>
                                </div>
                                <h6 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">가입 후 더 많은 서비스를 만나보세요.</h5>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example17">이름</label>
                                    <input type="ID" id="form2Example17" class="form-control form-control-lg" placeholder="Please enter your Name"/>
                                </div>
  
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example27">Email</label>
                                    <input type="Name" id="form2Example27" class="form-control form-control-lg" placeholder="Please enter your Email"/>
                                </div>

                                <div class="pt-1 mb-4 d-grid gap-2">
                                    <button class="btn btn-lg btn-block" type="button" style="background-color: #708ae8; color:white; width:100%" onclick="location.href='{% url '#' %}'">Create a New Account</button>
                                </div>
                            </form>
  
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}