<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" /> <!-- reset css -->
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<style>
    body{ background-color: ivory; }
    canvas{border:1px solid red;}
</style>
<script>
$(function(){

    // get reference to canvas and save canvas offsets
    var canvas = document.getElementById('drawing');
    var offsetX=canvas.offsetLeft;
    var offsetY=canvas.offsetTop;

    var requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;

    /**
     * @param {CanvasRenderingContext2D} context
     */
    function PrimitiveBrush(context) {
        if (!(context instanceof CanvasRenderingContext2D)) {
            throw new Error('No 2D rendering context given!');
        }

        this.ctx = context;
        this.strokes = [];
        this.strokeIndex=0;
        this.workingStrokes=[];
        this.lastLength=0;
        this.isTouching = false;

        // init context
        this.ctx.strokeStyle = '#f00';
        this.ctx.lineWidth = '10';
        this.ctx.lineCap = this.ctx.lineJoin = 'round';

        // start the drawing loop
        this._draw();
    }

    /**
     * Begins a new stroke
     * @param  {MouseEvent} event
     */
    PrimitiveBrush.prototype.start = function (event) {
        var x=event.clientX-offsetX;
        var y=event.clientY-offsetY;
        this.workingStrokes=[{x:x,y:y}];
        this.strokes.push(this.workingStrokes);
        this.lastLength=1;
        this.isTouching = true;
    };

    /**
     * Moves the current position of our brush
     * @param  {MouseEvent} event
     */
    PrimitiveBrush.prototype.move = function (event) {
        if(!this.isTouching){return;}
        var x=event.clientX-offsetX;
        var y=event.clientY-offsetY;
        this.workingStrokes.push({x:x,y:y});
    };

    /**
     * Stops a stroke
     * @param  {MouseEvent} event
     */
    PrimitiveBrush.prototype.end = function (event, foo) {
        this.move(event);
        this.isTouching = false;
    };

    PrimitiveBrush.prototype._draw = function () {

        requestAnimationFrame(this._draw.bind(this));

        // save the current length quickly (it's dynamic)
        var length=this.workingStrokes.length;

        // return if there's no work to do
        if(length<=this.lastLength){return;}

        var startIndex=this.lastLength-1;

        this.lastLength=length;

        var pt0=this.workingStrokes[startIndex];

        this.ctx.beginPath();

        this.ctx.moveTo(pt0.x,pt0.y);

        for(var j=startIndex;j<this.lastLength;j++){

            var pt=this.workingStrokes[j];

            this.ctx.lineTo(pt.x,pt.y);

        }

        this.ctx.stroke();

    };

    // Set up brush to listen to events
    var brush = new PrimitiveBrush(canvas.getContext('2d'));

    canvas.addEventListener('mousedown', brush.start.bind(brush));
    canvas.addEventListener('mousemove', brush.move.bind(brush));
    canvas.addEventListener('mouseup', brush.end.bind(brush));

}); // end $(function(){});
</script>
</head>
<body>
    <canvas id="drawing" width=300 height=300></canvas>
</body>
</html>


<!-- const drawingCanvas = document.getElementById("drawing");
const imgCanvas = document.getElementById("imgViewer"); -->



<!-- 
  const frames = [];
  const button = document.getElementById("divide_video");
  const select = document.querySelector("select");

  const drawingCanvas = document.getElementById("drawing");
  const backCanvas = document.getElementById("imgViewer");

  const drawingCtx = drawingCanvas.getContext("2d");
  const backCtx = imgCanvas.getContext("2d");
  tmpcanvas = imgCanvas;
 -->

















{% comment %} <!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <style>
    canvas {
      border: 1px solid black;
    }
  </style>

</head>

<body>

  <div>
    <input type="text" id="label">
    <button type="button" class="btn btn-success" onclick="func1();">label</button>
    <button type="button" class="btn btn-success" onclick="clear33();">지우기</button>
    <button onclick="export2json();">다운로드</button>
    <button onclick="PrintPoints();">불러오기</button>

  </div>

  <canvas id="my_canvas"></canvas>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript">
    var my_canvas = document.getElementById('my_canvas');
    my_canvas.width = 800;
    my_canvas.height = 800;
    var ctx = my_canvas.getContext('2d');

    var img = new Image();
    img.onload = function () {
      ctx.drawImage(img, 0, 0, my_canvas.width, my_canvas.height);
      ctx.save();
    }
    // 이미지 URL
    img.src = 'https://img.etoday.co.kr/pto_db/2022/03/600/20220307095246_1725389_1200_899.jpg';
    var obj = new Object();
    obj.points = [];


    ctx.beginPath();
    var t = 0;
    var firstX, firstY;

    my_canvas.onmousedown = function (event) {

      if (t < 0) {
      }
      else if (t == 0) {
        obj.points.push([event.x, event.y]);
        console.log(obj);
        firstX = event.x;
        firstY = event.y;
        ctx.moveTo(event.x, event.y);
        path = ctx.arc(event.x, event.y, 8, 0, Math.PI * 2, true);
        ctx.closePath();
        ctx.fill();
      }
      else if (event.x >= firstX - 10 && event.x <= firstX + 10 && event.y >= firstY * -10 && event.y <= firstY * +10) {
        obj.points.push([event.x, event.y]);
        console.log(obj);
        ctx.lineTo(firstX, firstY);
        ctx.fillStyle = "red"
        ctx.stroke();
        ctx.fill();
        t = -100;

      }
      else {
        obj.points.push([event.x, event.y]);
        console.log(obj);
        ctx.lineTo(event.x, event.y);
        ctx.stroke();
        ctx.moveTo(event.x, event.y);
        ctx.arc(event.x, event.y, 5, 0, Math.PI * 2, true);// 원그리기
        ctx.closePath();
        ctx.fill();
      }
      t++
    }

    function func1() {
      obj.label = document.getElementById("label").value;
      console.log(obj);
    }

    function clear33() {
      // obj.points=[];
      console.log('1');
      my_canvas = document.getElementById('my_canvas');
      my_canvas.width = 800;
      my_canvas.height = 800;
      ctx = my_canvas.getContext('2d');
      ctx.drawImage(img, 0, 0, my_canvas.width, my_canvas.height);
      t = 0;
    }
    function export2json() {
      const a = document.createElement("a");
      a.href = URL.createObjectURL(new Blob([JSON.stringify(obj, null, 2)], {
        type: "text/plain"
      }));
      a.setAttribute("download", "data.json");
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
    }

    function PrintPoints() {
      t = 0;
      for (var i of obj.points) {
        if (t < 0) {

        }
        else if (t == 0) {
          firstX = i[0];
          firstY = i[1];
          ctx.moveTo(i[0], i[1]);
          path = ctx.arc(i[0], i[1], 8, 0, Math.PI * 2, true);
          ctx.closePath();
          ctx.fill();
        }
        else if (i[0] >= firstX - 10 && i[0] <= firstX + 10 && i[1] >= firstY * -10 && i[1] <= firstY * +10) {
          ctx.lineTo(firstX, firstY);
          ctx.fillStyle = "red"
          ctx.stroke();
          ctx.fill();
          t = -100;
        }
        else {
          ctx.lineTo(i[0], i[1]);
          ctx.stroke();
          ctx.moveTo(i[0], i[1]);
          ctx.arc(i[0], i[1], 5, 0, Math.PI * 2, true);// 원그리기
          ctx.closePath();
          ctx.fill();
        }
        t++
      }

    }// 함수끝


  </script>

</body>

</html> {% endcomment %}