{% extends 'base.html' %}
{% comment %} {% load bootstrap4 %} {% endcomment %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
{% comment %} <head>
    <meta charset="UTF-8">
    <title>Title</title>
</head> {% endcomment %}
<body>
    {% comment %} <div class="content">
		<form action="{% url 'main:write_board' %}" method="post">
		{% csrf_token %}

		

		<table class="board_for_read">
			<tbody>
				<tr>
					<td class="td_title" style="text-align:center; width:20%;">제목</td>
					<td style="padding:10px;">
						<input type="text" name="title" id="title" value="{{ board.title }}"/>
					</td>
				</tr>
				<tr>
					<td class="td_title" style="text-align:center;">내용</td>
					<td style="padding:10px;">
						<textarea name="detail" id="detail" rows="10">{{ board.content }}</textarea>
					</td>
				</tr>
			</tbody>
		</table>
        <div style="text-align:right;padding: 5px;">
			<input type="submit" value="저장">
		</div>
		</form>

		<div style="text-align:left;">
			<a href="{% url 'main:board' %}">> Home</a>
		</div>

    </div> {% endcomment %}
	<div>
		<form method="POST" action="{% url 'main:write' %}" enctype="multipart/form-data">
			{% csrf_token %}
			{% bootstrap_form boardForm %}
			<button type="submit" class="btn btn-primary rounded-pill col-12">게시물 업로드</button>
		</form>
	</div>
</body>
{% endblock %}
</html>
